#project-description {
  padding: 1vw;
}

#project-container {
  display: flex;
  min-width: 25vw;
}

#project-phacer {
  max-height: 25vh;
}
#project-nba {
  max-height: 25vh;
}
#project-kelp {
  max-height: 25vh;
}

#nba-container:after {
  z-index: -1;
  content: "\A";
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
#nba-container:hover:after {
  opacity: 1;
}

body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 54px;
  color: #dfcfbe;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

#myVideo {
  border-radius: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-transform: uppercase;
  color: #ffd662;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #ffd662;
  animation: bounce 0.7s infinite alternate;
  -webkit-animation: bounce 0.4s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item:nth-child(8n + 1) {
  color: #e6261f;
  animation: color-change-1 10s infinite alternate;
  -webkit-animation: color-change-1 10s infinite alternate;
}
.dev-icons .list-inline-item:nth-child(8n + 2) {
  color: #eb7532;
  animation: color-changer-2 10s infinite alternate;
  -webkit-animation: color-change-2 10s infinite alternate;
}
.dev-icons .list-inline-item:nth-child(8n + 3) {
  color: #f7d038;
  animation: color-change-3 10s infinite alternate;
  -webkit-animation: color-change-3 10s infinite alternate;
}
.dev-icons .list-inline-item:nth-child(8n + 4) {
  color: #a3e048;
  animation: color-change-4 10s infinite alternate;
  -webkit-animation: color-change-4 10s infinite alternate;
}
.dev-icons .list-inline-item:nth-child(8n + 5) {
  color: #49da9a;
  animation: color-change-5 10s infinite alternate;
  -webkit-animation: color-change-5 10s infinite alternate;
}
.dev-icons .list-inline-item:nth-child(8n + 6) {
  color: #34bbe6;
  animation: color-change-6 10s infinite alternate;
  -webkit-animation: color-change-6 10s infinite alternate;
}
.dev-icons .list-inline-item:nth-child(8n + 7) {
  color: #4355db;
  animation: color-change-7 10s infinite alternate;
  -webkit-animation: color-change-7 10s infinite alternate;
}
.dev-icons .list-inline-item:nth-child(8n + 8) {
  color: #d23be7;
  animation: color-change-8 10s infinite alternate;
  -webkit-animation: color-change-8 10s infinite alternate;
}
.dev-icons .list-inline-item:nth-child(8n + 0) {
  color: #d23be7;
  animation: color-change-9 10s infinite alternate;
  -webkit-animation: color-change-9 10s infinite alternate;
}

@keyframes color-change-1 {
  0% {
    color: #e6261f;
  }
  12.5% {
    color: #eb7532;
  }
  25% {
    color: #f7d038;
  }
  37.5% {
    color: #a3e048;
  }
  50% {
    color: #49da9a;
  }
  62.5% {
    color: #34bbe6;
  }
  75% {
    color: #4355db;
  }
  87.5% {
    color: blue;
  }
  100% {
    color: #d23be7;
  }
}
@keyframes color-change-2 {
  0% {
    color: #eb7532;
  }
  12.5% {
    color: #f7d038;
  }
  25% {
    color: #a3e048;
  }
  37.5% {
    color: #49da9a;
  }
  50% {
    color: #34bbe6;
  }
  62.5% {
    color: #4355db;
  }
  75% {
    color: blue;
  }
  87.5% {
    color: #d23be7;
  }
  100% {
    color: #e6261f;
  }
}
@keyframes color-change-3 {
  0% {
    color: #f7d038;
  }
  12.5% {
    color: #a3e048;
  }
  25% {
    color: #49da9a;
  }
  37.5% {
    color: #34bbe6;
  }
  50% {
    color: #4355db;
  }
  62.5% {
    color: blue;
  }
  75% {
    color: #d23be7;
  }
  87.5% {
    color: #e6261f;
  }
  100% {
    color: #eb7532;
  }
}
@keyframes color-change-4 {
  0% {
    color: #a3e048;
  }
  12.5% {
    color: #49da9a;
  }
  25% {
    color: #34bbe6;
  }
  37.5% {
    color: #4355db;
  }
  50% {
    color: blue;
  }
  62.5% {
    color: #d23be7;
  }
  75% {
    color: #e6261f;
  }
  87.5% {
    color: #eb7532;
  }
  100% {
    color: #f7d038;
  }
}
@keyframes color-change-5 {
  0% {
    color: #49da9a;
  }
  12.5% {
    color: #34bbe6;
  }
  25% {
    color: #4355db;
  }
  37.5% {
    color: blue;
  }
  50% {
    color: #d23be7;
  }
  62.5% {
    color: #e6261f;
  }
  75% {
    color: #eb7532;
  }
  87.5% {
    color: #f7d038;
  }
  100% {
    color: #a3e048;
  }
}
@keyframes color-change-6 {
  0% {
    color: #34bbe6;
  }
  12.5% {
    color: #4355db;
  }
  25% {
    color: blue;
  }
  37.5% {
    color: #d23be7;
  }
  50% {
    color: #e6261f;
  }
  62.5% {
    color: #eb7532;
  }
  75% {
    color: #f7d038;
  }
  87.5% {
    color: #a3e048;
  }
  100% {
    color: #49da9a;
  }
}
@keyframes color-change-7 {
  0% {
    color: #4355db;
  }
  12.5% {
    color: blue;
  }
  25% {
    color: #d23be7;
  }
  37.5% {
    color: #e6261f;
  }
  50% {
    color: #eb7532;
  }
  62.5% {
    color: #f7d038;
  }
  75% {
    color: #a3e048;
  }
  87.5% {
    color: #49da9a;
  }
  100% {
    color: #34bbe6;
  }
}
@keyframes color-change-8 {
  0% {
    color: blue;
  }
  12.5% {
    color: #d23be7;
  }
  25% {
    color: #e6261f;
  }
  37.5% {
    color: #eb7532;
  }
  50% {
    color: #f7d038;
  }
  62.5% {
    color: #a3e048;
  }
  75% {
    color: #49da9a;
  }
  87.5% {
    color: #34bbe6;
  }
  100% {
    color: #4355db;
  }
}
@keyframes color-change-9 {
  0% {
    color: #d23be7;
  }
  12.5% {
    color: #e6261f;
  }
  25% {
    color: #eb7532;
  }
  37.5% {
    color: #f7d038;
  }
  50% {
    color: #a3e048;
  }
  62.5% {
    color: #49da9a;
  }
  75% {
    color: #34bbe6;
  }
  87.5% {
    color: #4355db;
  }
  100% {
    color: blue;
  }
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #c9783f;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  /* background-image: linear-gradient(to top, #30cfd0 0%, #0f0120 100%); */
  /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); */
  /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.text-primary {
  color: #efe1ceff !important;
}

a {
  color: #dfcfbe;
}

a:hover,
a:focus,
a:active {
  color: #573218;
}

.container-fluid {
  background-color: rgb(0, 0, 0);
}
